<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @course.user.name %>
</p>

<%= link_to 'Edit', edit_course_path(@course) if can? :update, Course %> |
<%= link_to 'Back', courses_path %>
